<!-- CSS -->
<link rel="stylesheet" href="css/grid.css">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/primary-color/blue.css" id="primary-color">
<link rel="stylesheet" href="css/secondary-color/orange.css" id="secondary-color">
<link rel="stylesheet" href="css/extra-color/red.css" id="extra-color">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CQuattrocento+Sans:400,700,400italic,700italic%7CRoboto+Slab:400%7COpen+Sans:400,700,300,600,400italic">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">


<!-- Java Script -->
<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>

</head>

<body>

<!-- START HEADER -->

<header id="header" class="extended">

<div class="container"> <!-- Container -->
        
    <!-- Logo -->
    <div id="logo">
        <a href="/">
            <img src="images/EQFI2.png" alt="logo" class="normal-dpi">
            <img src="images/EQFI2.png" alt="logo" class="high-dpi">
        
        </a>
    </div>
    
    <!-- Header Navigation -->
    <nav id="navigation">
        
        <!-- Mobile Side Menu -->
        <div id="mobile-nav-toggle">
            <a id="mobile-menu-button" href="#mobile-nav"><i class="fa fa-bars"></i></a>
        </div>
        
        <!-- Header Top Links -->
        <div id="secondary-nav">
        
            <ul class="quick-links">
            
                <li class="contact-phone"><i class="fa fa-phone"></i> <a href="tel:+2349064852460." class="phone-number">(234) 9064 852 460</a></li>
            </ul>
            
        </div>
        
        <!-- Main Menu -->
        <div id="primary-nav">
            
            <ul id="main-menu">
                
                <li class="menu-item scrollspy-btn"><a href="/#about_section">About Us</a>
                
                </li>
                
                <li class="menu-item crollspy-btn"><a href="/#services">What We Offer</a>
            
                        </li>
                        <li class="menu-item crollspy-btn"><a href="/#testimonials">Testimonials</a>
                    
                        </li>
                    
                <li class="menu-item"><a href="/contact">Contact Us</a>

                        </li>
                    
        
                
                
                <li class="menu-item button-item"><a href="/register">Register</a></li>
                
            </ul>
        
        </div>
        <!-- end Main Menu -->
        
    </nav>
    
</div> <!-- end Container -->

</header>

<!-- END HEADER -->
