<!DOCTYPE html>
<!--[if IE 9 ]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<!-- Mirrored from e-merald.com/themes/annuity/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Mar 2023 20:47:25 GMT -->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Contact Us | Annuity Template</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/primary-color/blue.css" id="primary-color">
	<link rel="stylesheet" href="css/secondary-color/orange.css" id="secondary-color">
	<link rel="stylesheet" href="css/extra-color/red.css" id="extra-color">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CQuattrocento+Sans:400,700,400italic,700italic%7CRoboto+Slab:400%7COpen+Sans:400,700,300,600,400italic">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/switcher.css"> <!-- Style Switcher -->
	
	<!-- Java Script -->
	<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
	
</head>

<body class="contact-page">

<!-- START HEADER -->

<header id="header" class="extended">
	
	<div class="container"> <!-- Container -->
			
		<!-- Logo -->
		<div id="logo">
			<a href="index.html">
				<img src="images/logo.png" alt="logo" class="normal-dpi">
				<img src="images/logo-2x.png" alt="logo" class="high-dpi">
			</a>
		</div>
		
		<!-- Header Navigation -->
		<nav id="navigation">
			
			<!-- Mobile Side Menu -->
			<div id="mobile-nav-toggle">
				<a id="mobile-menu-button" href="#mobile-nav"><i class="fa fa-bars"></i></a>
			</div>
			
			<!-- Header Top Links -->
			<div id="secondary-nav">
			
				<ul class="quick-links">
					<li class="menu-item"><a href="#">Client Portal</a></li>
					<li class="contact-phone"><i class="fa fa-phone"></i> <a href="tel:0736214076" class="phone-number">(07) 3621 4076</a></li>
				</ul>
				
			</div>
			
			<!-- Main Menu -->
			<div id="primary-nav">
				
				<ul id="main-menu">
					
					<li class="menu-item menu-item-has-children"><a href="about-us.html">About Us</a>
						<ul class="sub-menu">
							<li class="menu-item"><a href="about-us.html">Overview</a></li>
							<li class="menu-item"><a href="our-difference.html">Why We Are Different</a></li>
							<li class="menu-item"><a href="team.html">Meet the Team</a></li>
							<li class="menu-item"><a href="history.html">Our History</a></li>
						</ul>
					</li>
					
					<li class="menu-item menu-item-has-children"><a href="#">What We Do</a>
						<ul class="sub-menu">
							<li class="menu-item"><a href="how-we-can-help.html">How We Can Help</a></li>
							<li class="menu-item menu-item-has-children"><a href="services.html">Our Services</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="single-service-1.html">Cash Flow Management</a></li>
									<li class="menu-item"><a href="single-service-2.html">Growing Wealth</a></li>
									<li class="menu-item"><a href="single-service-3.html">Risk Management & Personal Insurance</a></li>
									<li class="menu-item"><a href="single-service-4.html">Retirement Planning & Superannuation</a></li>
									<li class="menu-item"><a href="single-service-5.html">Tax Planning</a></li>
									<li class="menu-item"><a href="single-service-6.html">Investment Planning and Strategy</a></li>
									<li class="menu-item"><a href="single-service-7.html">Business Advice</a></li>
								</ul>
							</li>
							<li class="menu-item menu-item-has-children"><a href="how-we-work.html">How We Work</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="how-we-work.html">Financial Planning Process</a></li>
									<li class="menu-item"><a href="investment-approach.html">Investment Approach</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="fees.html">Fees</a></li>
						</ul>
					</li>
					
					<li class="menu-item menu-item-has-children"><a href="who-we-help.html">Our Clients</a>
						<ul class="sub-menu">
							<li class="menu-item"><a href="who-we-help.html">Who We Help</a></li>
							<li class="menu-item"><a href="get-started.html">How to Get Started</a></li>
							<li class="menu-item menu-item-has-children"><a href="client-stories.html">Client Stories</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="single-case-study-1.html">Paying For Your Child's Education</a></li>
									<li class="menu-item"><a href="single-case-study-2.html">Planning For Retirement</a></li>
									<li class="menu-item"><a href="single-case-study-3.html">Increasing Income From Investments</a></li>
									<li class="menu-item"><a href="single-case-study-4.html">Estate Planning</a></li>
									<li class="menu-item"><a href="single-case-study-5.html">Tax Planning</a></li>
									<li class="menu-item"><a href="single-case-study-6.html">Business Owners</a></li>
									<li class="menu-item"><a href="single-case-study-7.html">Financial Planning During Divorce</a></li>
									<li class="menu-item"><a href="single-case-study-8.html">Planning For Your Family's Financial Security</a></li>
									<li class="menu-item"><a href="single-case-study-9.html">Preparing For Uncertainty</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="faqs.html">FAQs</a></li>
						</ul>
					</li>
					
					<li class="menu-item menu-item-has-children sf-mega-parent"><a href="#">Resources</a>
						<div class="sf-mega">
							<ul class="sub-menu">
								<li class="sf-mega-section has-children width-200px"><h6>General</h6>
									<ul class="sub-menu">
										<li class="menu-item"><a href="general-typography.html">Typography</a></li>
										<li class="menu-item"><a href="general-grid-system.html">Grid System</a></li>
										<li class="menu-item"><a href="general-stripe-sections.html">Stripe Sections</a></li>
										<li class="menu-item"><a href="general-video.html">Video</a></li>
										<li class="menu-item"><a href="general-lightbox.html">LightBox</a></li>
										<li class="menu-item"><a href="fees.html#footer">Footer Layout – Style 1</a></li>
										<li class="menu-item"><a href="investment-approach.html#footer">Footer Layout – Style 2</a></li>
									</ul>
								</li>
								<li class="sf-mega-section has-children width-190px"><h6>Elements</h6>
									<ul class="sub-menu">
										<li class="menu-item"><a href="elements-picture-boxes.html">Picture Boxes</a></li>
										<li class="menu-item"><a href="elements-icon-boxes.html">Icon Boxes</a></li>
										<li class="menu-item"><a href="elements-stages.html">Stages</a></li>
										<li class="menu-item"><a href="elements-feature-lists.html">Feature Lists</a></li>
										<li class="menu-item"><a href="elements-info-boxes.html">Info Boxes</a></li>
										<li class="menu-item"><a href="elements-tabs-toggles.html">Tabs & Toggles</a></li>
										<li class="menu-item"><a href="elements-split-sections.html">Split Sections</a></li>
										<li class="menu-item"><a href="elements-pullquote.html">Pullquote</a></li>
									</ul>
								</li>
								<li class="sf-mega-section has-children width-200px title-merged"><h6>Elements 2</h6>
									<ul class="sub-menu">
										<li class="menu-item"><a href="elements-testimonials.html">Testimonials</a></li>
										<li class="menu-item"><a href="elements-gallery.html">Image Gallery</a></li>
										<li class="menu-item"><a href="elements-carousel.html">Carousel & Slider</a></li>
										<li class="menu-item"><a href="elements-stats.html">Stats Data</a></li>
										<li class="menu-item"><a href="elements-pricing-plans.html">Pricing Plans</a></li>
										<li class="menu-item"><a href="elements-standard-tables.html">Standard Tables</a></li>
										<li class="menu-item"><a href="elements-other.html">Other Elements</a></li>
									</ul>
								</li>
								<li class="sf-mega-section has-children width-220px"><h6>Extra Pages</h6>
									<ul class="sub-menu">
										<li class="menu-item"><a href="index.html">Home Page 1</a></li>
										<li class="menu-item"><a href="index2.html">Home Page 2</a></li>
										<li class="menu-item"><a href="index3.html">Home Page 3</a></li>
										<li class="menu-item"><a href="services-page-2.html">Services Page 2</a></li>
										<li class="menu-item"><a href="team-member.html">Team Member Profile</a></li>
										<li class="menu-item"><a href="blog-list-layout.html">Blog List Layout</a></li>
										<li class="menu-item"><a href="single-post.html">Single Post</a></li>
										<li class="menu-item"><a href="page-404.html">404 Error Page</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
					
					<li class="menu-item"><a href="blog-grid-layout.html">Blog</a></li>
					
					<li class="menu-item current-menu-item button-item"><a href="contact.html">Contact Us</a></li>
				
				</ul>
			
			</div>
			<!-- end Main Menu -->
			
		</nav>
		
	</div> <!-- end Container -->
	
</header>

<!-- END HEADER -->


<!-- START CONTENT -->

<section id="main">
	
	<!-- Hero Image & Page Title -->
	<div id="hero-image" class="image-bg">
	
		<div class="slide banner-contact" data-caption-bg-color="orange"> <!-- Possible values: "red", "tomato", "orange-red", "chocolate", "orange", "dark-yellow", "yellow", "olive", "green-yellow", "green", "see-green", "turquoise", "light-blue", "steel-blue", "royal-blue", "blue", "blue-violet", "purple", "deep-pink", "grey" -->
				
			<div class="container">
				<div class="row">
					<div class="col-sm-12 columns">
						<div class="page-title-wrapper">
							<div class="page-title">
								<h1>Contact Us</h1>
							</div>
						</div>
						<div class="trapezium-bg"><span></span></div>
					</div>
				</div>
			</div>
			
		</div>
	
	</div>
	<!-- end Hero Image & Page Title -->
	
	<!-- Page Content -->
	<div id="page-content" class="sidebar-layout">
		
		<div class="container"> <!-- Container -->
			
			<!-- Content with right-aligned Sidebar -->
			<div class="row columns-wrapper sb-right">
				
				<!-- Contact Info -->
				<aside class="col-sm-5 col-md-4 columns contact-info">
					
					<!-- Tabs: address details -->
					<div class="tabs address-details">
						
						<nav class="tabs-nav">
							
							<!-- for multiple offices -->
							<ul class="tabs-list">
								<li data-map="map_1" class="active"><a href="#tab-pane-1">Brisbane</a></li>
								<li data-map="map_2"><a href="#tab-pane-2">Toowoomba</a></li>
								<li data-map="map_3"><a href="#tab-pane-3">Gold Coast</a></li>
							</ul>
							
							<!-- for single office -->
							<!--
							<h2 class="title lead-text-large">Contact Information</h2>
							-->
							
							<script>
								// Custom parameters for Google Maps
								var gmapParams = {
									map_1: {
										posType: 'address',
										address: '1316 Adelaide Street, Brisbane City, QLD, 4000',
										mapZoom: 15,
										infoTitle: 'Suite 87, Level 12, 316 Adelaide Street',
										infoString: '<h6 class="gm-title">Annuity Strategic</h6><p>Financial advice and investment management services in Brisbane.</p>',
										saturation: -50
									},
									map_2: {
										posType: 'address',
										address: '131A Herries Street, Toowoomba, QLD 4350',
										mapZoom: 15,
										infoTitle: 'Suite 37, 131A Herries Street',
										infoString: '<h6 class="gm-title">Annuity Strategic</h6><p>Financial advice and investment management services in Toowoomba.</p>',
										saturation: -50
									},
									map_3: {
										posType: 'address',
										address: '65-67 Thomas Drive, Gold Coast, QLD 4217',
										mapZoom: 15,
										infoTitle: 'Suite 9, 65-67 Thomas Drive',
										infoString: '<h6 class="gm-title">Annuity Strategic</h6><p>Financial advice and investment management services in Gold Coast.</p>',
										saturation: -50
									},
								}
							</script>
							
						</nav>
						
						<div class="tabs-content text-aside text-black">
							
							<!-- Tab Pane 1 -->
							<div id="tab-pane-1" class="tab-pane">
								
								<h5 class="title">Office Location</h5>
								<p class="margin-bottom-10px">Suite 87, Level 12, <br>
								316 Adelaide Street, <br>
								Brisbane City, QLD 4000</p>
								<p><strong>Monday-Friday: 9am – 5:30pm</strong></p>
								
								<h5 class="title">Mailing Address</h5>
								<p>GPO Box 698 Brisbane QLD 4001</p>
								
							</div>
							
							<!-- Tab Pane 2 -->
							<div id="tab-pane-2" class="tab-pane">
								
								<h5 class="title">Office Location</h5>
								<p class="margin-bottom-10px">Suite 37, <br>
								131A Herries Street, <br>
								Toowoomba, QLD 4350</p>
								<p><strong>Monday-Friday: 8:30am – 6pm</strong></p>
								
								<h5 class="title">Mailing Address</h5>
								<p>PO Box 498 Toowoomba QLD 4350</p>
								
							</div>
							
							<!-- Tab Pane 3 -->
							<div id="tab-pane-3" class="tab-pane">
								
								<h5 class="title">Office Location</h5>
								<p class="margin-bottom-10px">Suite 9, <br>
								65-67 Thomas Drive, <br>
								Gold Coast, QLD 4217</p>
								<p><strong>Monday-Friday: 8am – 5pm</strong></p>
								
								<h5 class="title">Mailing Address</h5>
								<p>PO Box 344 Chevron Island QLD 4217</p>
								
							</div>
							
						</div>
						
					</div>
					<!-- end Tabs -->
					
					<!-- Contact Details -->
					<div class="contact-details">
						
						<h5 class="underline-small">General Enquiries</h5>
						
						<div class="contact-phone clearfix">
							<i class="fa fa-mobile"></i>
							<div><a href="tel:0736214076" class="phone-number lead-text-medium">(07) 3621 4076</a></div>
						</div>
						
						<div class="contact-email clearfix">
							<i class="fa fa-envelope"></i>
							<div><a href="mailto:info@annuity.com.au">info@annuity.com.au</a></div>
						</div>
						
						<!--
						<div class="contact-skype clearfix">
							<i class="fa fa-skype"></i>
							<div>annuity-strategic</div>
						</div>
						-->
						
						<ul class="fa-icon-list social-share clearfix">
							<li><a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/" title="LinkedIn" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
						</ul>
						
					</div>
					
				</aside>
				<!-- end Contact Info -->
				
				<!-- Page Left Column -->
				<div id="main-content" class="col-sm-7 col-md-8 columns page-left-col"> <!-- inner grid -->
					
					<div class="row">
						
						<div class="col-sm-12 columns">
						
							<h2 class="margin-bottom-10px">We'd love to hear from you</h2>
							<p class="lead-text-basic"><em>You can arrange an appointment or make an enquiry by phone or email, or fill out the form below.</em></p>
							
							<div class="small-bar colored-bar margin-bottom-40px"></div>
							
							<!-- Contact Form -->
							<form id= 'contact_form' method="post">
								
								<div class="field-author">
									<label for="author">Name <span class="required">*</span></label>
									<input type="text" id="author" name="name" value="" maxlength="200" required>
								</div>
								<div class="field-email">
									<label for="email">Email <span class="required">*</span></label>
									<input type="email" id="email" name="email" value="" maxlength="100" required>
								</div>
								<div class="field-phone">
									<label for="phone">Phone number <span class="required">*</span></label>
									<input type="text" id="phone" name="phone" value="" maxlength="100" required>
								</div>
								<div class="field-subject">
									<label for="subject">Area of interest</label>
									<div class="select-wrapper">
										<select id="subject" name="interest">
											<option value="">---</option>
											<option value="general-enquiry">General Enquiry</option>
											<option value="contact-advisor">Contact an Advisor</option>
											<option value="financial-health-check">Financial Health-Check</option>
										</select>
									</div>
								</div>
								<div class="field-message">
									<label for="message">Message <span class="required">*</span></label>
									<textarea id="message" name="message" rows="4" maxlength="5000" required></textarea>
								</div>
								<!--
								<div class="field-checkbox">
									<input type="checkbox" id="agree" name="agree" value="true" required>
									<label for="agree">I agree with the <a href="#" target="_blank"><em>data protection policy</em></a> of this site. <span class="required">*</span></label>
								</div>
								-->
								<div class="field-blank hidden-xs-up">
									<input type="text" id="sender-name" name="sender-name" value="" placeholder="Leave this field blank">
								</div>
								<div class="field-submit">
									<input type="submit" id="submit" name="submit" value="Send" class="button">
									<span class="loader hidden-xs-up"></span>
								</div>
								
							</form>
							
							<div id="contact-form-message" class="info">
								<p></p>
							</div>
							<!-- end Contact Form -->
							
						</div>
						
					</div>
					
				</div>
				<!-- end Page Left Column -->
				
			</div> <!-- end columns-wrapper sb-right -->
		
		</div> <!-- end Container -->
		
		<!-- STRIPE BOTTOM SECTION -->
		<div class="stripe stripe-bottom map-wrapper">
			<div class="stripe-upper-bg"></div>
			
			<div class="container-fluid"> <!-- full-width Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<div id="map" class="google-map height-400px"><span>loading map &hellip;</span></div>
						
					</div>
					
				</div>
				
			</div> <!-- end full-width Container -->
			
		</div>
		<!-- end STRIPE BOTTOM SECTION -->
		
	</div>
	<!-- end Page Content -->
	
</section>

<!-- END CONTENT -->


<!-- START FOOTER -->

<footer id="footer" class="footer-style-2">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
			
			<div class="col-sm-4 columns">
				
				<div class="offset-md-right-40px clearfix">
					
					<h4 class="title">Get in touch</h4>
					
					<!-- Contact Details -->
					<p class="contact-address">Suite 87, Level 12, 316 Adelaide Street, <br>
					Brisbane City, QLD, 4000</p>
					<p class="contact-phone"><a href="tel:0736214076" class="phone-number">(07) 3621 4076</a></p>
					<p class="contact-email"><a href="mailto:info@annuity.com.au">info@annuity.com.au</a></p>
					
					<ul class="fa-icon-list clearfix">
						<li><a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/" title="LinkedIn" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
					</ul>
					
				</div>
				
			</div>
			
			<div class="col-sm-4 columns">
				<div class="offset-md-right-40px">
					
					<h4 class="title">Latest insights</h4>
					
					<!-- Recent Posts -->
					<ul class="recent-posts">
						<li>
							<a href="single-post.html">A taxing decision for pension investments</a>
							<time class="post-date" datetime="2017-04-15">April 15, 2017</time>
						</li>
						<li>
							<a href="single-post.html">Questions to ask before you pay off your mortgage early</a>
							<time class="post-date" datetime="2017-03-09">March 9, 2017</time>
						</li>
					</ul>
					
				</div>
			</div>
			
			<div class="col-sm-4 columns">
				
				<h4 class="title">Stay informed</h4>
				
				<!-- Subscription Form -->
				<form action="https://e-merald.com/themes/annuity/php/mail-subscription.php" method="post" class="subscription-form">
					<fieldset class="subscription-fields-wrapper">
						<div class="field-subscriber-name">
							<input type="text" name="subscriber-name" value="" maxlength="200" placeholder="Name *" required>
						</div>
						<div class="field-subscriber-email">
							<input type="email" name="subscriber-email" value="" maxlength="100" placeholder="Email *" required>
						</div>
						<div class="field-blank hidden-xs-up">
							<input type="text" name="sender-name" value="" placeholder="Leave this field blank">
						</div>
						<div class="field-submit">
							<input type="submit" name="subscribe" value="" class="button">
							<span class="loader hidden-xs-up"></span>
						</div>
					</fieldset>
				</form>
				
				<div class="subscription-form-message info">
					<p>Sign up to receive the latest news and resources</p>
				</div>
				<!-- end Subscription Form -->
				
			</div>
		
		</div>
		
	</div> <!-- end Container -->

</footer>

<footer id="footer-bottom">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="columns bottom-left-col">
				<p>© 2017 Annuity Template</p>
			</div>
			
			<div class="columns bottom-right-col">
				<ul class="links">
					<li><a href="#">Privacy Policy</a><span>|</span></li>
					<li><a href="#">Terms & Conditions</a><span>|</span></li>
					<li><a href="#">Financial Services Guide</a></li>
				</ul>
			</div>
			
			<span class="scroll-top"><i class="ion ion-android-arrow-up"></i></span>
		
		</div>
		
	</div> <!-- end Container -->
	
</footer>

<!-- END FOOTER -->


<!-- Java Script -->
<script src="js/html5media.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.cycle2.min.js"></script>
<script src="js/jquery.cycle2.swipe.min.js"></script>
<script src="js/jquery.fitvids.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.tweet.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMEQmmBym-EAScHI-oAnWLjjdB6Uf5jPQ"></script>
<script src="js/custom.js"></script>
<script src="js/switcher.js"></script> <!-- Style Switcher -->

<script>
	$('#contact_form').submit(function(e) {
 
 	var dataString = $(this).serialize();

	$.ajax({
   		type: "POST",
   		url: "/contact-us",
   		data: dataString,
   		success: function () {
			$("#contact_form").html("<div id='message'></div>");
			$("#message")
			.html("<h2>Contact Form Submitted!</h2>")
			.append("<p>We will be in touch soon.</p>")
			.hide()
			.fadeIn(1500, function () {
			 $("#message").append(
				//"<img id='checkmark' src='images/check.png' />"
			);
	   });
   }
 });
 e.preventDefault();
});
  </script>
</body>
</html>
