<!DOCTYPE html>
<!--[if IE 9 ]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Error | Custom Street Analysts</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/primary-color/blue.css" id="primary-color">
	<link rel="stylesheet" href="css/secondary-color/orange.css" id="secondary-color">
	<link rel="stylesheet" href="css/extra-color/red.css" id="extra-color">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CQuattrocento+Sans:400,700,400italic,700italic%7CRoboto+Slab:400%7COpen+Sans:400,700,300,600,400italic">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	
	<!-- Java Script -->
	<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
	
</head>

<body>

<!-- START HEADER -->

<header id="header" class="extended">
	
	<div class="container"> <!-- Container -->
			
		<!-- Logo -->
		<div id="logo">
			<a href="/">
				<img src="images/EQFI2.png" alt="logo" class="normal-dpi">
				<img src="images/EQFI2.png" alt="logo" class="high-dpi">
			</a>
		</div>
		
		<!-- Header Navigation -->
		<nav id="navigation">
			
			<!-- Mobile Side Menu -->
			<div id="mobile-nav-toggle">
				<a id="mobile-menu-button" href="#mobile-nav"><i class="fa fa-bars"></i></a>
			</div>
			
			<!-- Header Top Links -->
			<div id="secondary-nav">
			
				<ul class="quick-links">
				
					<li class="contact-phone"><i class="fa fa-phone"></i> <a href="tel:+2349064852460." class="phone-number">(234) 9064 852 460</a></li>
				</ul>
				
			</div>
			
			<!-- Main Menu -->
			<div id="primary-nav">
				
				<ul id="main-menu">
					
					<li class="menu-item scrollspy-btn"><a href="/#about_section">About Us</a>
					
					</li>
					
					<li class="menu-item crollspy-btn"><a href="/#services">What We Offer</a>
				
							</li>
							<li class="menu-item crollspy-btn"><a href="/#testimonials">Testimonials</a>
						
							</li>
						
					<li class="menu-item"><a href="/contact">Contact Us</a>

							</li>
						
			
					
					
					<li class="menu-item button-item"><a href="/register">Register</a></li>
					
				</ul>
			
			</div>
			<!-- end Main Menu -->
			
		</nav>
		
	</div> <!-- end Container -->
	
</header>

<!-- END HEADER -->


<!-- START CONTENT -->

<section id="main">
	
	<!-- Page Title on gradient background -->
	<div id="hero-image" class="gradient-bg">
	
		<div class="banner-gradient">
			
			<div class="container">
				<div class="row">
					<div class="col-sm-12 columns">
						<div class="page-title-wrapper">
							<div class="page-title">
								<h1>Page Not Found</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	
	</div>
	<!-- end Page Title -->
	
	<!-- Page Content -->
	<div id="page-content" class="fullwidth-layout">
		
		<!-- Stripe section -->
		<div class="stripe stripe-transparent-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 col-md-7 columns">
						
						<h2 class="title lead-text-large text-primary-color"><strong>Error 404 — Nothing Found</strong></h2>
						<p class="margin-bottom-35px"><%= data%></p>
						
						<div class="small-bar colored-bar"></div>
						
		
						
					</div>
					
					<div class="col-sm-12 col-md-5 columns">
						
						<figure class="error-404">404</figure>
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
				
		</div>
		<!-- end Stripe section -->
		

	</div>
	<!-- end Page Content -->
	
</section>

<!-- END CONTENT -->


<!-- START FOOTER -->

<footer id="footer" class="footer-style-1">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="col-sm-4 columns">
				
				<!-- Contact Details -->
				<div class="contact-details clearfix">
					<div class="contact-details-title">Get In Touch</div>
					<p class="contact-phone"><a href="tel:0736214076" class="phone-number">(234) 9064 852 460</a></p>
					<p class="contact-email"><a href="mailto:info@customstreetanalysts.com">info@customstreetanalysts.com</a></p>
			
				</div>
				
			</div>
			
			<div class="col-sm-8 columns">
				
				<!-- Contact Form -->
				<form action="/contact" method="post" id="contact-form" class="contact-form contact-form-footer clearfix">
					<fieldset class="contact-fields-wrapper clearfix">
						<div class="field-author">
							<input type="text" id="author" name="author" value="" maxlength="200" placeholder="Name *" required>
						</div>
						<div class="field-phone">
							<input type="text" id="phone" name="phone" value="" maxlength="100" placeholder="Phone">
						</div>
						<div class="field-email">
							<input type="email" id="email" name="email" value="" maxlength="100" placeholder="Email *" required>
						</div>
						<div class="field-subject select-wrapper">
							<select id="subject" name="subject">
								<option value="">-- Area of interest --</option>
								<option value="general-enquiry">General Enquiry</option>
								<option value="contact-advisor">Contact an Advisor</option>
								<option value="financial-health-check">Financial Health-Check</option>
							</select>
						</div>
					</fieldset>
					<fieldset class="contact-fields-wrapper">
						<div class="field-message">
							<textarea id="message" name="message" rows="5" maxlength="5000" placeholder="Message *" required></textarea>
						</div>
						<div class="field-blank hidden-xs-up">
							<input type="text" id="sender-name" name="sender-name" value="" placeholder="Leave this field blank">
						</div>
						<div class="field-submit">
							<input type="submit" id="submit" name="submit" value="Submit" class="button">
							<span class="loader hidden-xs-up"></span>
						</div>
					</fieldset>
				</form>
				
				<div id="contact-form-message" class="info">
					<p>To make an enquiry please complete the form above.</p>
				</div>
				<!-- end Contact Form -->
				
			</div>
		
		</div>
		
	</div> <!-- end Container -->

</footer>

<footer id="footer-bottom">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="columns bottom-left-col">
				<p>© 2023 Custom Street Analysts</p>
			</div>
			
			<span class="scroll-top"><i class="ion ion-android-arrow-up"></i></span>
		
		</div>
		
	</div> <!-- end Container -->
	
</footer>

<!-- END FOOTER -->


<!-- Java Script -->
<script src="js/html5media.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.cycle2.min.js"></script>
<script src="js/jquery.cycle2.swipe.min.js"></script>
<script src="js/jquery.fitvids.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.tweet.min.js"></script>
<script src="js/custom.js"></script>


</body>
</html>
