<!DOCTYPE html>
<!--[if IE 9 ]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Home | Customer Street Analyst</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/primary-color/blue.css" id="primary-color">
	<link rel="stylesheet" href="css/secondary-color/orange.css" id="secondary-color">
	<link rel="stylesheet" href="css/extra-color/red.css" id="extra-color">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CQuattrocento+Sans:400,700,400italic,700italic%7CRoboto+Slab:400%7COpen+Sans:400,700,300,600,400italic">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	
	<!-- Java Script -->

</head>

<body>

<!-- START HEADER -->

<header id="header" class="extended">
	
	<div class="container"> <!-- Container -->
			
		<!-- Logo -->
		<div id="logo">
			<a href="/">
				<img src="images/EQFI2.png" alt="logo" class="normal-dpi">
			
			</a>
		</div>
		
		<!-- Header Navigation -->
		<nav id="navigation">
			
			<!-- Mobile Side Menu -->
			<div id="mobile-nav-toggle">
				<a id="mobile-menu-button" href="#mobile-nav"><i class="fa fa-bars"></i></a>
			</div>
			
			<!-- Header Top Links -->
			<div id="secondary-nav">
			
				<ul class="quick-links">
				
					<li class="contact-phone"><i class="fa fa-phone"></i> <a href="tel:+2349064852460." class="phone-number">(234) 9064 852 460</a></li>
				</ul>
				
			</div>
			
			<!-- Main Menu -->
			<div id="primary-nav">
				
				<ul id="main-menu">
					
					<li class="menu-item scrollspy-btn"><a href="/#about_section">About Us</a>
					
					</li>
					
					<li class="menu-item crollspy-btn"><a href="/#services">What We Offer</a>
				
							</li>
							<li class="menu-item crollspy-btn"><a href="/#testimonials">Testimonials</a>
						
							</li>
						
					<li class="menu-item"><a href="/contact">Contact Us</a>

							</li>
						
			
					
					
					<li class="menu-item button-item"><a href="/register">Register</a></li>
					
				</ul>
			
			</div>
			<!-- end Main Menu -->
			
		</nav>
		
	</div> <!-- end Container -->
	
</header>

<!-- END HEADER -->


<!-- START CONTENT -->

<section id="main">
	
	<!-- Homepage Hero -->
	<div id="home-hero">
		
		<!-- Homepage Slider -->
		<div id="home-slider" class="cycle-slideshow"
			data-cycle-fx="fadeout"
			data-cycle-swipe="true"
			data-cycle-swipe-fx="fadeout"
			data-cycle-speed="1000"
			data-cycle-timeout="6000"
			data-cycle-pause-on-hover="false"
			data-cycle-paused="false"
			data-cycle-starting-slide="0"
			data-cycle-slides="> .slide"
			data-cycle-pager="> .cycle-pager .container"
			data-cycle-log="false"
		>
			
			<div class="slide slide1" data-caption-bg-color="red"> <!-- Possible values: "red", "tomato", "orange-red", "chocolate", "orange", "dark-yellow", "yellow", "olive", "green-yellow", "green", "see-green", "turquoise", "light-blue", "steel-blue", "royal-blue", "blue", "blue-violet", "purple", "deep-pink", "grey" -->
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
							<h4 class="h2-slogan text-white text-uppercase">Today</h4>
							<p class="lead-text-large text-white">is the day to start planning for the goals that matter most</p>
							<a href="contact.html" class="button button-colored">Let's Get Started</a>
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<div class="slide slide2" data-caption-bg-color="orange-red">
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
							<h4 class="h2-slogan text-white text-uppercase">Now</h4>
							<p class="lead-text-large text-white">is the time to make sure your family is covered for life</p>
							<a href="how-we-can-help.html" class="button button-colored">Learn How We Help</a>
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<div class="slide slide3" data-caption-bg-color="turquoise">
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
							<h4 class="h2-slogan text-white text-uppercase">Tomorrow</h4>
							<p class="lead-text-large text-white">is up to you,<br>and we can help you get there</p>
							<a href="services.html" class="button button-colored">View Our Services</a>
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<div class="slide slide4" data-caption-bg-color="chocolate">
				
				<!-- caption -->
				<div class="container">
					<div class="row">
						<div class="columns">
							<h1 class="h3-slogan text-white">Your financial well-being matters.</h1>
							<a href="contact.html" class="button button-colored">Register</a>
						</div>
					</div>
				</div>
				<div class="trapezium-bg"><span></span></div>
				
			</div>
			
			<!-- pager links -->
			<div class="cycle-pager">
				<div class="container"></div>
			</div>
			
		</div>
		<!-- end Homepage Slider -->
		
	</div>
	<!-- end Homepage Hero -->
	
	<!-- Page Content -->
	<div id="page-content" class="fullwidth-layout">
		
		<!-- Stripe section -->
		<div class="stripe stripe-transparent-bg" id="about_section">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
					
						<p class="lead-text-light width-60pct-centered text-center"><strong>Do you have an interest in investment management? Can you value equities? </strong>At Customer Street Analyst we provide strategic financial training and advice where your needs are the only factors that influence our decisions.</p>
						
						<div class="gap margin-bottom-40px"></div>
						
						<!-- Picture Boxes: overlaid title - 3 columns -->
						<div class="picture-boxes overlaid-title small-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article>
										<div class="box-image">
											<a href="history.html"><img src="images/picture1-540x324.jpg" alt="experience"></a>
										</div>
										<div class="box-text">
											<a href="history.html">Stock Trading</a>
										</div>
									</article>
								</div>

								<div class="col-sm-4 columns">
									<article>
										<div class="box-image">
											<a href="our-difference.html"><img src="images/picture2-540x324.jpg" alt="our difference"></a>
										</div>
										<div class="box-text">
											<a href="our-difference.html">Equity Trading</a>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article>
										<div class="box-image">
											<a href="client-stories.html"><img src="images/picture3-540x324.jpg" alt="client stories"></a>
										</div>
										<div class="box-text">
											<a href="client-stories.html">Currency Trading</a>
										</div>
									</article>
								</div>
							
							</div>
							
						</div>
						<!-- end Picture Boxes -->
						
						<div class="gap margin-bottom-10px"></div>
						
					</div>
					
				</div>
			
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
	
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg stripe-wordgram-bg-top">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="text-center text-body-color margin-bottom-5px">Benefits</h2>
						<p class="lead-text-light text-center margin-bottom-50px">By the end of six months you can....</p>
						
						<!-- Carousel with Icon Boxes (top icon - large size) -->
						<div class="icon-boxes left-icon-box icon-medium owl-carousel owl-theme"
							data-items="2"
							data-loop="true"
							data-nav="false"
							data-dots="true"
							data-autoplay="true"
							data-autoplay-timeout="10000"
							data-autoplay-hover-pause="false"
						>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-1.html"><i class="ion ion-fw ion-university"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-1.html">Become a Professional Trader</a></h5>
										<p><em>You will be able to value equities , bonds , treasuries, in all markets
											in the world.</em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-5.html"><i class="ion ion-fw ion-calculator"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-5.html">Start a Career in Investment</a></h5>
										<p><em>Have learnt enough to begin on a career in Research with
											brokerage firms, trading and investment Management</em></p>
									</div>
								</article>
							</div>
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-3.html"><i class="ion ion-fw ion-stats-bars"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-3.html">Work in a Financial Institution</a></h5>
										<p><em>You will be qualified to seek employment at research desk of stockbrokering firms,
											investment & asset management firms, and banks.</em></p>
									</div>
								</article>
							</div>
		
							
							<div class="carousel-item">
								<article class="clearfix">
									<div class="box-icon secondary-color">
										<a href="single-case-study-6.html"><i class="ion ion-fw ion-umbrella"></i></a>
									</div>
									<div class="box-text">
										<h5 class="title text-black"><a href="single-case-study-6.html">Become a Stockbrocker</a></h5>
										<p><em>You may take a step further after the training to take the exams that will lead you to become a
											stockbroker
										</em></p>
									</div>
								</article>
							</div>
				
							
						</div>
						<!-- end Carousel -->
						
					</div>
					
				</div>
			
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
				<!-- Stripe section -->
				<div id="services" class="stripe stripe-custom-bg-image stripe-custom-bg-image1 stripe-bg-size-cover stripe-upper-bg-transparent diagonal-lines-bg v-notch dark-colored-bg">
					<div class="stripe-upper-bg"></div>
					
					<div class="container"> <!-- Container -->
						
						<div class="row">
							
							<div class="col-sm-12 columns">
								
								<h2 class="text-center text-white margin-bottom-50px">What <span class="text-secondary-color">You will</span> Learn</h2>
								
								<!-- Picture Boxes: round image - 4 columns -->
								<div class="picture-boxes round-image centered-content small-col-space">
									
									<div class="row">
										
										<!--
										col-sm-6: for short description in .box-text - 4 columns >> 2 columns
										col-sm-12: for long description in .box-text - 4 columns >> 1 column
										-->
										<div class="col-sm-12 col-md-3 columns">
											<article>
												<div class="box-image">
													<a href="single-service-1.html"><img src="images/member7-360x360.jpg" alt="financial advice"></a>
												</div>
												<div class="box-text">
													<h5 class="title"><a href="single-service-1.html">Equity Valuation, Research and Trading</a></h5>
													
											</article>
										</div>
										
										<div class="col-sm-12 col-md-3 columns">
											<article>
												<div class="box-image">
													<a href="single-service-6.html"><img src="images/picture6-260x260.jpg" alt="investment planning"></a>
												</div>
												<div class="box-text">
													<h5 class="title"><a href="single-service-6.html">Fixed Income Research and Trading.</a></h5>
											
												</div>
											</article>
										</div>
										
										<div class="col-sm-12 col-md-3 columns">
											<article>
												<div class="box-image">
													<a href="single-service-7.html"><img src="images/picture13-260x260.jpg" alt="business advice"></a>
												</div>
												<div class="box-text">
													<h5 class="title"><a href="single-service-7.html">Currency Trading and Valuation</a></h5>
		
												</div>
											</article>
										</div>
										
										<div class="col-sm-12 col-md-3 columns">
											<article>
												<div class="box-image">
													<a href="single-service-4.html"><img src="images/picture4-260x260.jpg" alt="retirement planning"></a>
												</div>
												<div class="box-text">
													<h5 class="title"><a href="single-service-4.html">Real Estate Investment Trust (REITS)</a></h5>
												</div>
											</article>
										</div>
										
									</div>
								
								</div>
								<!-- end Picture Boxes -->
								
								<div class="gap margin-bottom-50px"></div>
								
								<p class="text-center"><a class="button button-medium button-colored text-uppercase" href="services.html">Register For the Class</a></p>
								
							</div>
							
						</div>
						
					</div> <!-- end Container -->
					
				</div>
				<!-- end Stripe section -->
				

		<!-- Stripe section -->
		<div class="stripe stripe-transparent-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="text-center margin-bottom-5px">Opportuinities After Training</h2>
						<p class="lead-text-light text-center margin-bottom-40px">Our advice philosophy is simple — we put YOU first</p>
						
					</div>
					
				</div>
				
				<div class="row">
					
					<div class="col-sm-5 columns">
						
						<figure class="align-only-xs-center float-md-right offset-md-right-30px">
							<img src="images/image-graphs.png" alt="graphs">
						</figure>
						
					</div>
					
					<div class="col-sm-7 columns">
						
						<ul class="check-list text-black">
							<li>Internship opportunities will be provided after the six months training to help you horn your skills.

							</li>
							<li>You can now apply to <strong>top 5</strong> investment management firms , asset management firms,
								brokerages, pension funds, banks and insurance companies. Interview with them and get valid
								job offers with great starting salaries
							</li>
							<li>You now own and have acquired <strong> technical skills and confidence </strong> to begin portfolio management
								business , managing clients assets in equities, fixed income, commodities, currencies and
								REITS while earning handsome fees as portfolio managers.
							</li>
							<li>You can major in <strong>major asset classes as commodities and trade </strong> on organized exchanges as
								the AFEX COMMODITY EXCHANGE in Nigeria or the CME in the United States and build a
								major commodities trading corporation like Vitol and Glencore in Nigeria.
							</li>
							<li>You can move to business media and begin reporting on business news and happenings
								around prices using new media as youtube and Instagram videos. You ay also apply and
								work for the news desk of news media stations and magazines with your new-found
								knowledge, and attack your purpose with the authenticity and dedication that make you an
								<strong>authority</strong> in the markets.
							</li>
						</ul>
						
					</div>
					
				</div>
			
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg stripe-wordgram-bg-top v-notch">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="text-center text-body-color margin-bottom-5px">How to Get Started?</h2>
						<p class="lead-text-light text-center margin-bottom-40px">To be an effective partner, we need to know you and your goals</p>
						
						<!-- Icon Boxes: top icon (medium size with numbers, round background) - 3 columns -->
						<div class="icon-boxes top-icon-box icon-medium-round-bg number-icon-box medium-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-share"></i>
											<span class="digit">1</span>
										</div>
										<div class="box-text">
											<h5 class="title">Make Payments</h5>
											<p>Pay the tution fee of 420,000 Naira ($500). Which is payable in two installments of 220,000 Naira($250) and 200,000 Naira($200)</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-coffee"></i>
											<span class="digit">2</span>
										</div>
										<div class="box-text">
											<h5 class="title">Join the Training Room</h5>
											<p>You will be added to the private slack workspace once payment is confirmed. Please download the slack app after payment</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-compose"></i>
											<span class="digit">3</span>
										</div>
										<div class="box-text">
											<h5 class="title">Training Commences...</h5>
											<p>Your training starts immediately you are added to the group. Our team will be there to welcome you and take you through all the courses.</p>
										</div>
									</article>
								</div>
								
							</div>
						
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- STRIPE BOTTOM SECTION -->
		<div id="testimonials" class="stripe stripe-bottom stripe-dark-colored-pattern-bg dark-colored-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<!-- Testimonials -->
						<div class="testimonial-main-style-1">
							
							<!-- Testimonial Slider -->
							<div class="testimonial-slider cycle-slideshow"
								data-cycle-fx="fade"
								data-cycle-swipe="true"
								data-cycle-swipe-fx="fade"
								data-cycle-speed="500"
								data-cycle-timeout="8000"
								data-cycle-pause-on-hover="true"
								data-cycle-paused="false"
								data-cycle-slides="> .testimonial-item"
								data-cycle-pager="> .cycle-pager .paging-control"
								data-cycle-prev="> .cycle-pager .cycle-prev"
								data-cycle-next="> .cycle-pager .cycle-next"
								data-cycle-auto-height="calc"
								data-cycle-log="false"
							>
								
								<div class="testimonial-item">
									<div class="testimonial-title">
									</div>
									<div class="testimonial-text">
										<p>When I graduated from the university, I had a dream to become a large independent asset manager
											so I took a job in investment management in Nigeria and I decided to take the series 7 stockbrokers exams. 
											Years went by and I did not graduate
											from the series 7 exams, because I did not understand the basic principle that underpin the markets
											before delving into the formulas. Then I met Custom Street Analysts Team, I resigned my job at the brokerage
											 and devoted the time to learn with Custom Street Analysts.
											I studied US Fixed Incomes and currency trading and got simulated on real life situations as it occurs
											in the trading pits.
											Today, I understand the markets perfectly and how the asset classes interact and lead to profits.
											I am today an independent asset manager, founded my firm and moved ahead in life.
										</p>
									</div>
									<div class="testimonial-author">
										<div class="author-info"><strong>Joseph Adebiyi, 32</strong><span>Abuja, Nigeria</span></div>
									</div>
								</div>
								
								<div class="testimonial-item">
									<div class="testimonial-title">
									</div>
									<div class="testimonial-text">
										<p>I studied economics at a top-tier private university in Nigeria and then had the fortune of visiting the
											United States soon after graduation. Hitherto, a career in investment management research and
											trading amazes me. While in the United States, I was approached by major wall street firms for a role
											in securities research and trading and was invited to interview.
											Over the interview, I could not figure out the relationship between the US Feds lowering interest
											rates and what exactly happens in the markets and on the trading day, What point I should be on the
											yield curve, and what my response should be. So, I left the firm I worked briefly with. And that was
											Fixed Income Asset class alone. There were questions on equity valuation, currency , real estate trust
											and commodities.
											I returned to Nigeria broken-hearted and then met Custom Street Analysts Tuition centres, in Nigeria
											through its web advertising reach and I called them.
											Paying the then tuition fee of N600,000 was a pleasure because I was sure of the trainings I was 
											about to receive. Now, I feel confident analysing markets in Nigeria , valuing equities and bonds ahead of market
											open. I have completed my NYSC in Nigeria and again returned and re-visited the United States to
											prospect for a new job in investment research.
											
										</p>
									</div>
									<div class="testimonial-author">
										<div class="author-info"><strong>Amina Wali 22,</strong><span>Kaduna, Nigeria</span></div>
									</div>
								</div>
								
								<div class="testimonial-item">
									<div class="testimonial-title">
									</div>
									<div class="testimonial-text">
										<p>I graduated from the university in Nigeria at 26 years of age but had decided early in my career not
											to work in Audit and Assurance services. I strongly believed that my future was investment
											management but I cold not get a placement in the top 5 investment management and brokerage
											firms so I applied to a sales role in a small brokerage. Later, I joined the research team of the small
											brokerage but I learnt very little in my time there . My confidence levels in myself and worth in the
											workplace dropped precipitously. Coming to work each day was a bother.
											Then I met Custom Street Analysts Tuition Centres strived to pay the training fees and attended
											classes. Soon, I began to talk more confidently to colleagues in the industry . I met my life partner at
											an industry event where she thought I was smart person.
											Soon, I began to write investment management research papers and notes to investors on asset
											price variation and pricing. Now, after my trainings, I receive unsolicited job interviews and offers at
											top 5 investment management firms to work in research and trading, with all the privileges.
											Importantly, while at the Custom Street Analysts training centres, I made my first millions in
											investment management in 2020, trading commodities in Nigeria.
											So, I assure you of profits, if you will take this training seriously and participate in the markets.
											Please enrol.
										</p>
									</div>
									<div class="testimonial-author">
										<div class="author-info"><strong>Adesanya 39,</strong><br><span>Nigeria</span></div>
									</div>
								</div>
								
								<div class="testimonial-item">
									<div class="testimonial-title">
										<h4>Enjoy the Fruits <span>of Working Life</span></h4>
									</div>
									<div class="testimonial-text">
										<p>I retired from Nigeria State owned petroleum company, the NNPC as a senior engineer in the
											engineering division of the firm.
											My exposure during my career brough me in contact with global finance, commodities and asset
											pricing including the massive profiting that comes with the business. However, I am an engineer and
											never fully understood the economics behind asset pricing and price discovery.
											As soon as I retired, I called Custom Street Analysts and took the full training with them alongside my
											son Kagho who had a university degree in Banking and Finance and could not find a job placement.
											The training helped in my valuation techniques and how interest rates transforms markets.
											Now, I trade confidently across all the asset classes in the markets and I have set up from my
											retirement account, a commodities training firm and portfolio management firm with my son and
											our dream of building a major conglomerate in commodities trading invalid and has began. It is
											happy retirement for me as we intend in a few years to rival industry giants as Glencore and
											Trafigura.
											
										</p>
									</div>
									<div class="testimonial-author">
										<div class="author-info"><strong>Alfa 61,</strong><br><span>Lagos</span></div>
									</div>
								</div>
								
								<!-- pager & prev/next links -->
								<div class="cycle-pager">
									<div class="cycle-prev"><i class="fa fa-chevron-left"></i></div>
									<div class="paging-control clearfix"></div>
									<div class="cycle-next"><i class="fa fa-chevron-right"></i></div>
								</div>
								
							</div>
							<!-- end Testimonial Slider -->
							
						</div>
						<!-- end Testimonials -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end STRIPE BOTTOM SECTION -->
		
	</div>
	<!-- end Page Content -->
	
</section>

<!-- END CONTENT -->

<!-- START FOOTER -->

<footer id="footer" class="footer-style-1">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="col-sm-4 columns">
				
				<!-- Contact Details -->
				<div class="contact-details clearfix">
					<div class="contact-details-title">Get In Touch</div>
					<p class="contact-phone"><a href="tel:0736214076" class="phone-number">(234) 9064 852 460</a></p>
					<p class="contact-email"><a href="mailto:info@customstreetanalysts.com">info@customstreetanalysts.com</a></p>
			
				</div>
				
			</div>
			
			<div class="col-sm-8 columns">
				
				<!-- Contact Form -->
				<form action="/contact" method="post" id="contact-form" class="contact-form contact-form-footer clearfix">
					<fieldset class="contact-fields-wrapper clearfix">
						<div class="field-author">
							<input type="text" id="author" name="author" value="" maxlength="200" placeholder="Name *" required>
						</div>
						<div class="field-phone">
							<input type="text" id="phone" name="phone" value="" maxlength="100" placeholder="Phone">
						</div>
						<div class="field-email">
							<input type="email" id="email" name="email" value="" maxlength="100" placeholder="Email *" required>
						</div>
						<div class="field-subject select-wrapper">
							<select id="subject" name="subject">
								<option value="">-- Area of interest --</option>
								<option value="general-enquiry">General Enquiry</option>
								<option value="contact-advisor">Contact an Advisor</option>
								<option value="financial-health-check">Financial Health-Check</option>
							</select>
						</div>
					</fieldset>
					<fieldset class="contact-fields-wrapper">
						<div class="field-message">
							<textarea id="message" name="message" rows="5" maxlength="5000" placeholder="Message *" required></textarea>
						</div>
						<div class="field-blank hidden-xs-up">
							<input type="text" id="sender-name" name="sender-name" value="" placeholder="Leave this field blank">
						</div>
						<div class="field-submit">
							<input type="submit" id="submit" name="submit" value="Submit" class="button">
							<span class="loader hidden-xs-up"></span>
						</div>
					</fieldset>
				</form>
				
				<div id="contact-form-message" class="info">
					<p>To make an enquiry please complete the form above.</p>
				</div>
				<!-- end Contact Form -->
				
			</div>
		
		</div>
		
	</div> <!-- end Container -->

</footer>

<footer id="footer-bottom">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="columns bottom-left-col">
				<p>© 2023 Custom Street Analysts</p>
			</div>
			
			<span class="scroll-top"><i class="ion ion-android-arrow-up"></i></span>
		
		</div>
		
	</div> <!-- end Container -->
	
</footer>

<!-- END FOOTER -->


<!-- Java Script -->
<script src="js/html5media.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.cycle2.min.js"></script>
<script src="js/jquery.cycle2.swipe.min.js"></script>
<script src="js/jquery.fitvids.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.tweet.min.js"></script>
<script src="js/custom.js"></script>


</body>
</html>
