<!DOCTYPE html>
<!--[if IE 9 ]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Annuity | Financial Advisory & Consulting Template</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/primary-color/blue.css" id="primary-color">
	<link rel="stylesheet" href="css/secondary-color/orange.css" id="secondary-color">
	<link rel="stylesheet" href="css/extra-color/red.css" id="extra-color">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CQuattrocento+Sans:400,700,400italic,700italic%7CRoboto+Slab:400%7COpen+Sans:400,700,300,600,400italic">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	
	<!-- Java Script -->
	<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
	
</head>

<body>

<!-- START HEADER -->

<header id="header" class="extended">
	
	<div class="container"> <!-- Container -->
			
		<!-- Logo -->
		<div id="logo">
			<a href="index.html">
				<img src="images/EQFI2.png" alt="logo" class="normal-dpi">
			
			</a>
		</div>
		
		<!-- Header Navigation -->
		<nav id="navigation">
			
			<!-- Mobile Side Menu -->
			<div id="mobile-nav-toggle">
				<a id="mobile-menu-button" href="#mobile-nav"><i class="fa fa-bars"></i></a>
			</div>
			
			<!-- Header Top Links -->
			<div id="secondary-nav">
			
				<ul class="quick-links">
				
					<li class="contact-phone"><i class="fa fa-phone"></i> <a href="tel:+2349064852460." class="phone-number">(234) 9064 852 460</a></li>
				</ul>
				
			</div>
			
			<!-- Main Menu -->
			<div id="primary-nav">
				
				<ul id="main-menu">
					
					<li class="menu-item scrollspy-btn"><a href="/#about_section">About Us</a>
					
					</li>
					
					<li class="menu-item crollspy-btn"><a href="/#services">What We Offer</a>
				
							</li>
							<li class="menu-item crollspy-btn"><a href="/#testimonials">Testimonials</a>
						
							</li>
						
					<li class="menu-item"><a href="/contact">Contact Us</a>

							</li>
						
			
					
					
					<li class="menu-item button-item"><a href="/register">Register</a></li>
					
				</ul>
			
			</div>
			<!-- end Main Menu -->
			
		</nav>
		
	</div> <!-- end Container -->
	
</header>

<!-- END HEADER -->


<!-- START CONTENT -->

<section id="main">
	
	<!-- Hero Image & Page Title -->
	<div id="hero-image" class="image-bg">
	
		<div class="slide banner-our-heritage" data-caption-bg-color="dark-yellow"> <!-- Possible values: "red", "tomato", "orange-red", "chocolate", "orange", "dark-yellow", "yellow", "olive", "green-yellow", "green", "see-green", "turquoise", "light-blue", "steel-blue", "royal-blue", "blue", "blue-violet", "purple", "deep-pink", "grey" -->
				
			<div class="container">
				<div class="row">
					<div class="col-sm-12 columns">
						<div class="page-title-wrapper">
							<div class="page-title">
								<h5>Elements</h5>
								<h1>Icon Boxes</h1>
							</div>
						</div>
						<div class="trapezium-bg"><span></span></div>
					</div>
				</div>
			</div>
			
		</div>
	
	</div>
	<!-- end Hero Image & Page Title -->
	
	<!-- Page Content -->
	<div id="page-content" class="fullwidth-layout">
		
		<div class="container"> <!-- Container -->
			
			<div class="row">
				
				<!-- Side Menu -->
				<aside class="col-md-4 columns side-menu-widget">
					<ul class="side-menu">
						<li class="menu-item"><a href="elements-picture-boxes.html">Picture Boxes</a></li>
						<li class="menu-item current-menu-item"><a href="elements-icon-boxes.html">Icon Boxes</a></li>
						<li class="menu-item"><a href="elements-stages.html">Stages</a></li>
						<li class="menu-item"><a href="elements-feature-lists.html">Feature Lists</a></li>
					</ul>
				</aside>
				<!-- end Side Menu -->
				
				<div class="col-md-8 columns page-intro">
					
					<p class="left-border-block lead-text-large text-black">The Icon Boxes element allows to display a list of features arranged in content boxes with icons.</p>
					
					<p>Besides the standalone usage, the Icon Boxes element can be also used in Carousel.</p>
					
					<p>The template includes the popular icon fonts:</p>
					<ol class="custom-counter">
						<li><a href="http://fontawesome.io/" target="_blank"><strong>Font Awesome</strong></a> — the complete set of 675 icons in vers. 4.7.0</li>
						<li><a href="http://ionicons.com/" target="_blank"><strong>Ionicons</strong></a> — vers. 2.0.1</li>
					</ol>
					
					<p>You can use any icon from the above sets in Icon Boxes.</p>
					
				</div>
				
			</div>
		
		</div> <!-- end Container -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes with round background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-40px">large size, secondary color</p>
					
						<!-- Icon Boxes: top icon (large size, round background) - 3 columns -->
						<div class="icon-boxes top-icon-box icon-large-round-bg medium-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="fa fa-fw fa-bar-chart"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Licence from ASIC</h5>
											<p>We have applied for a licence from Australian Securities and Investments Commission.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="fa fa-fw fa-home"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Certified Financial Planner®</h5>
											<p>Our financial planners are members of the Financial Planning Association.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="fa fa-fw fa-calculator"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Member of IFAAA</h5>
											<p>We are a practicing member of the IFAAA Gold Standard of Independence<sup>TM</sup>.</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-ios-pulse-strong"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Licence from ASIC</h5>
											<p>We have applied for a licence from Australian Securities and Investments Commission.</p>
											<a href="#" class="read-more-link">Learn more</a>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-ios-home"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Certified Financial Planner®</h5>
											<p>Our financial planners are members of the Financial Planning Association.</p>
											<a href="#" class="read-more-link">Learn more</a>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-ios-chatboxes-outline"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Member of IFAAA</h5>
											<p>We are a practicing member of the IFAAA Gold Standard of Independence<sup>TM</sup>.</p>
											<a href="#" class="read-more-link">Learn more</a>
										</div>
									</article>
								</div>
								
							</div>
						
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
			
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-transparent-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes with round background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-35px">medium size, primary color</p>
						
						<!-- Icon Boxes: top icon (medium size, round background) - 4 columns -->
						<div class="icon-boxes top-icon-box icon-medium-round-bg small-col-space">
							
							<div class="row">
							
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-bg">
											<i class="ion ion-fw ion-ios-locked"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Fixed interest & cash</h6>
											<p>Cash, short-term deposits and bonds.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-bg">
											<i class="ion ion-fw ion-ios-pulse-strong"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Equities</h6>
											<p>Stocks and shares of ownership in a company.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-bg">
											<i class="ion ion-fw ion-ios-home"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Property</h6>
											<p>Investing in residential or commercial property.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-bg">
											<i class="ion ion-fw ion-ios-shuffle-strong"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Alternatives</h6>
											<p>Infrastructure, such as roads and airports, private equity investments.</p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg stripe-wordgram-bg-top v-notch">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes with round background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-35px">medium size with numbers, secondary color</p>
						
						<!-- Icon Boxes: top icon (medium size with numbers, round background) - 3 columns -->
						<div class="icon-boxes top-icon-box icon-medium-round-bg number-icon-box medium-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-share"></i>
											<span class="digit">1</span>
										</div>
										<div class="box-text">
											<h5 class="title">get in touch</h5>
											<p>The best way to get started is to simply phone, or contact us via email or contact form</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-coffee"></i>
											<span class="digit">2</span>
										</div>
										<div class="box-text">
											<h5 class="title">initial meeting</h5>
											<p>It helps us to get know each other and ascertain whether our service will be of benefit for you</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-compose"></i>
											<span class="digit">3</span>
										</div>
										<div class="box-text">
											<h5 class="title">if you decide to proceed…</h5>
											<p>We set up a second meeting, which is the start of the planning process…</p>
										</div>
									</article>
								</div>
								
							</div>
						
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-transparent-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes without background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-35px">large icon, primary light/dark color</p>
						
						<!-- Icon Boxes: top icon (large size) - 4 columns -->
						<div class="icon-boxes top-icon-box icon-large small-col-space">
							
							<div class="row">
							
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<a href="#"><i class="ion ion-fw ion-clipboard"></i></a>
										</div>
										<div class="box-text">
											<h6 class="title"><a href="#">Education</a></h6>
											<p>How am I going to pay for my child's education?</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<a href="#"><i class="ion ion-fw ion-stats-bars"></i></a>
										</div>
										<div class="box-text">
											<h6 class="title"><a href="#">Investments</a></h6>
											<p>How can I increase my income from investments?</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<a href="#"><i class="ion ion-fw ion-calculator"></i></a>
										</div>
										<div class="box-text">
											<h6 class="title"><a href="#">Taxes</a></h6>
											<p>How do I manage taxes to keep more of what I earn?</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<a href="#"><i class="ion ion-fw ion-paper-airplane"></i></a>
										</div>
										<div class="box-text">
											<h6 class="title"><a href="#">Estate Planning</a></h6>
											<p>How am I going to successfully plan for the next generation?</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
							
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-dark">
											<a href="#"><i class="fa fa-fw fa-graduation-cap"></i></a>
										</div>
										<div class="box-text">
											<h5 class="title text-black"><a href="#">Education</a></h5>
											<p><em>How am I going to pay for my child's education?</em></p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-dark">
											<a href="#"><i class="fa fa-fw fa-bar-chart"></i></a>
										</div>
										<div class="box-text">
											<h5 class="title text-black"><a href="#">Investments</a></h5>
											<p><em>How can I increase my income from investments?</em></p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-dark">
											<a href="#"><i class="fa fa-fw fa-calculator"></i></a>
										</div>
										<div class="box-text">
											<h5 class="title text-black"><a href="#">Taxes</a></h5>
											<p><em>How do I manage taxes to keep more of what I earn?</em></p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-3 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-dark">
											<a href="#"><i class="fa fa-fw fa-laptop"></i></a>
										</div>
										<div class="box-text">
											<h5 class="title text-black"><a href="#">Estate Planning</a></h5>
											<p><em>How am I going to plan for the next generation?</em></p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-pale-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes without background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-35px">large icon, secondary color</p>
						
						<!-- Icon Boxes: top icon (large size) - 3 columns -->
						<div class="icon-boxes top-icon-box icon-large medium-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-ios-compose-outline"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Education</h5>
											<p><em>How am I going to pay for my child's education?</em></p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-ios-pulse"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Investments</h5>
											<p><em>How can I increase my income from investments?</em></p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-ios-home-outline"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Estate Planning</h5>
											<p><em>How am I going to successfully plan for the next generation?</em></p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-white-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes without background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-35px">small icon, primary/secondary color</p>
						
						<!-- Icon Boxes: top icon (small size) - 3 columns -->
						<div class="icon-boxes top-icon-box icon-small medium-col-space">
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-handshake-o"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Invite others</h6>
											<p>Invite your team members and accounting professionals any time you like.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-bar-chart"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Financial performance reports</h6>
											<p>Create performance reports and budgets. No waiting until the end of the month.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-mobile"></i>
										</div>
										<div class="box-text">
											<h6 class="title">iPhone & Android apps</h6>
											<p>Do invoicing, create expense claims, and track sales and income on the go.</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-line-chart"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Get closer to your cashflow</h6>
											<p>Quotes, invoicing and the dashboard all help for an up-to-date financial snapshot.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-link"></i>
										</div>
										<div class="box-text">
											<h6 class="title">24/7 support included</h6>
											<p>Our friendly and knowledgeable experts are always here for you.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-refresh"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Regular updates included</h6>
											<p>Every 3-6 weeks we release innovative new updates based on customer ideas.</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
							
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-ios-pulse-strong"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Invite others</h6>
											<p>Invite your team members and accounting professionals any time you like.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-ios-home"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Financial performance reports</h6>
											<p>Create performance reports and budgets. No waiting until the end of the month.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-4 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-ios-chatboxes"></i>
										</div>
										<div class="box-text">
											<h6 class="title">iPhone & Android apps</h6>
											<p>Do invoicing, create expense claims, and track sales and income on the go.</p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
				
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes with round background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-35px">left icon, small size, secondary color</p>
						
						<!-- Icon Boxes: left icon (round background) - 2 columns -->
						<div class="icon-boxes left-icon-box icon-small-round-bg medium-col-space">
							
							<div class="row">
							
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-paper-airplane"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Well-Rounded Experience</h5>
											<p>Our collaborative team offers the depth and breadth you need to navigate life's decisions. For many of our clients, we operate as their personal CFO, simplifying their lives by providing clarity and answers to the myriad of financial decisions they face every day.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="fa fa-fw fa-calculator"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Comprehensive Analysis</h5>
											<p>Efficient financial planning requires a close look at more than just account values and years to retirement. Our team assesses your insurance coverage, cash flow, investment strategy, real estate portfolio, and more. We review each area within the context of your current situation and long-term goals.</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-ios-pulse-strong"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Objective Advice</h5>
											<p>As an independent firm, we do not have a vested interest in specific products or services that can bias our judgment or recommendations. And since our compensation is completely independent of insurance or investment decisions you may make, we can be completely neutral in our analysis of your situation.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color-bg">
											<i class="ion ion-fw ion-shuffle"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Personalized Service</h5>
											<p>We are a boutique firm and we thrive on building long-term relationships with our clients. Our process is an opportunity for us to get to know our clients exceptionally well. Annuity Strategic prides itself in working as a team — both internally and with you — offering as much or as little hand holding as you need.</p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-white-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes with filled background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-40px">left icon, primary color</p>
						
						<!-- Icon Boxes: left icon (box with filled background) - 3 columns -->
						<div class="icon-boxes left-icon-box box-filled-bg">
							
							<div class="row">
									
								<!--
								col-sm-6: 3 columns >> 2 columns
								-->
								<div class="col-sm-6 col-md-4 columns">
									<a href="#" class="block-link">
										<article class="clearfix">
											<div class="box-icon primary-color">
												<i class="fa fa-fw fa-line-chart"></i>
											</div>
											<div class="box-text">
												<h5 class="title">Savings</h5>
												<p><em>bank savings accounts</em></p>
											</div>
										</article>
									</a>
								</div>
								
								<div class="col-sm-6 col-md-4 columns">
									<a href="#" class="block-link">
										<article class="clearfix">
											<div class="box-icon primary-color">
												<i class="fa fa-fw fa-bar-chart"></i>
											</div>
											<div class="box-text">
												<h5 class="title">Certificates of Deposit</h5>
												<p><em>time deposits</em></p>
											</div>
										</article>
									</a>
								</div>
								
								<div class="col-sm-6 col-md-4 columns">
									<a href="#" class="block-link">
										<article class="clearfix">
											<div class="box-icon primary-color">
												<i class="ion ion-fw ion-archive"></i>
											</div>
											<div class="box-text">
												<h5 class="title">Savings</h5>
												<p><em>bank savings accounts</em></p>
											</div>
										</article>
									</a>
								</div>
								
								<div class="col-sm-6 col-md-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-calculator"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Money Market</h5>
											<p><em>investment funds</em></p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-6 col-md-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-briefcase"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Treasury Bills</h5>
											<p><em>debt-based instruments</em></p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-6 col-md-4 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="ion ion-fw ion-paper-airplane"></i>
										</div>
										<div class="box-text">
											<h5 class="title">Money Market</h5>
											<p><em>investment funds</em></p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
						<div class="gap margin-bottom-70px"></div>
						<div class="divider-gradient double grey-divider margin-bottom-50px"></div>
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes without background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-40px">left icon, large size, primary light color</p>
						
						<!-- Icon Boxes: left icon (large size) - 2 columns -->
						<div class="icon-boxes left-icon-box icon-large medium-col-space">
							
							<div class="row">
								
								<!--
								col-sm-12: 2 columns >> 1 column
								-->
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<i class="ion ion-fw ion-paper-airplane"></i>
										</div>
										<div class="box-text">
											<h6 class="title text-uppercase">Plan</h6>
											<p>The best plan is the one that's tailored to your needs and accomplished with your priorities first.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<i class="fa fa-fw fa-calculator"></i>
										</div>
										<div class="box-text">
											<h6 class="title text-uppercase">Implement</h6>
											<p>Having a plan is a good start, but it must be implemented or it won't do any good!</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<i class="ion ion-fw ion-ios-pulse-strong"></i>
										</div>
										<div class="box-text">
											<h6 class="title text-uppercase">Evaluate</h6>
											<p>Things change. Jobs, children, homes, even goals. A plan should evolve with you.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color-light">
											<i class="ion ion-fw ion-shuffle"></i>
										</div>
										<div class="box-text">
											<h6 class="title text-uppercase">Adjust</h6>
											<p>Monitor and adjust for ongoing changes to income, inflation, spending habits, and other topics.</p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-light-grey-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes without background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-40px">left icon, medium size, primary/secondary color</p>
						
						<!-- Icon Boxes: left icon (medium size) - 2 columns -->
						<div class="icon-boxes left-icon-box icon-medium medium-col-space">
							
							<div class="row">
								
								<!--
								col-sm-12: 2 columns >> 1 column
								-->
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="ion ion-fw ion-ios-pie-outline"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Regular Savings</h6>
											<p>Little can be achieved financially, without establishing a regular, disciplined savings pattern. We will help you find the disposable income you never knew you had, and put it to good use.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-handshake-o"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Estate Planning</h6>
											<p>As well as making provision for your loves ones, it's important to leave clear instructions of your wishes. Temp - ut arcu in arcu mollis consectetur id mauris del curabitur.</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="ion ion-fw ion-ios-briefcase-outline"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Investment</h6>
											<p>True wealth is built from wise investment. We customise each investment portfolio to suit your personal circumstances, risk tolerance and time frame.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon primary-color">
											<i class="fa fa-fw fa-download"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Minimise Tax</h6>
											<p>Understanding income tax, capital gains tax, and the various taxation concessions available is key to keeping more of your hard earned dollars.</p>
										</div>
									</article>
								</div>
								
							</div>
							
							<div class="row">
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-ios-unlocked-outline"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Clearing Debt</h6>
											<p>Not all debt is your enemy, but having a clear strategy to manage and eliminate debt over time is essential.</p>
										</div>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<div class="box-icon secondary-color">
											<i class="ion ion-fw ion-laptop"></i>
										</div>
										<div class="box-text">
											<h6 class="title">Regular Review</h6>
											<p>One thing in life is certain change. By regularly reviewing your finances we will help you to keep all your ducks in a row.</p>
										</div>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- Stripe section -->
		<div class="stripe stripe-white-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<h2 class="title lead-text-large text-center text-grey remove-bottom">Icon Boxes without background</h2>
						<p class="lead-text-basic text-center text-light-grey margin-bottom-40px">icon in heading, secondary color</p>
						
						<!-- Icon Boxes: left icon (icon in box heading) - 2 columns -->
						<div class="icon-boxes left-icon-box icon-heading medium-col-space">
							
							<div class="row">
								
								<!--
								col-sm-12: 2 columns >> 1 column
								-->
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<header>
											<div class="box-icon secondary-color">
												<i class="ion ion-fw ion-ios-timer-outline"></i>
											</div>
											<div class="box-heading">
												<h5 class="title">Life Insurance</h5>
											</div>
										</header>
										<p>Life Insurance pays a lump sum to your dependents if you die. It is designed to provide you with the reassurance that your loved ones will be looked after financially if you're no longer there to provide.</p>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<header>
											<div class="box-icon secondary-color">
												<i class="ion ion-fw ion-ios-medkit-outline"></i>
											</div>
											<div class="box-heading">
												<h5 class="title">Total & Permanent Disability Insurance</h5>
											</div>
										</header>
										<p>TPD cover is a form of insurance that will provide you with a one-off payment in the event that you become totally and permanently disabled from a serious illness or injury that leaves you unlikely to ever return to work at your normal capacity ever again.</p>
									</article>
								</div>
								
							</div>
							
							<div class="row">
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<header>
											<div class="box-icon secondary-color">
												<i class="ion ion-fw ion-ios-home-outline"></i>
											</div>
											<div class="box-heading">
												<h5 class="title">Income Protection</h5>
											</div>
										</header>
										<p>Income protection cover will ensure you can still manage financially if you were put out of work for a period of time by replacing up to 75% of your income until you can start working again, until you retire, die or the end of your policy term — whichever is sooner.</p>
									</article>
								</div>
								
								<div class="col-sm-12 col-md-6 columns">
									<article class="clearfix">
										<header>
											<div class="box-icon secondary-color">
												<i class="ion ion-fw ion-ios-pulse"></i>
											</div>
											<div class="box-heading">
												<h5 class="title">Critical Illness (Trauma) Cover</h5>
											</div>
										</header>
										<p>Critical illness cover also known as trauma insurance will pay out a lump sum if you get one of the specific medical conditions or injuries listed within the policy. Examples of critical illnesses that might be covered include heart attack, stroke, certain types and stages of cancer and a range of other conditions.</p>
									</article>
								</div>
								
							</div>
							
						</div>
						<!-- end Icon Boxes -->
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end Stripe section -->
		
		<!-- STRIPE BOTTOM SECTION -->
		<div class="stripe stripe-bottom stripe-default-bg-image dark-colored-bg">
			<div class="stripe-upper-bg"></div>
			
			<div class="container"> <!-- Container -->
				
				<div class="row">
					
					<div class="col-sm-12 columns">
						
						<p class="lead-text-large width-80pct-centered text-center text-white">No matter what stage of your financial life your are in, we can help you make the most of what you have!</p>
						
					</div>
					
				</div>
				
			</div> <!-- end Container -->
			
		</div>
		<!-- end STRIPE BOTTOM SECTION -->
		
	</div>
	<!-- end Page Content -->
	
</section>

<!-- END CONTENT -->


<!-- START FOOTER -->

<footer id="footer" class="footer-style-2">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
			
			<div class="col-sm-4 columns">
				
				<div class="offset-md-right-40px clearfix">
					
					<!-- Contact Details -->
					<h4 class="title">Get in touch</h4>
					
					<p class="contact-address">Suite 87, Level 12, 316 Adelaide Street, <br>
					Brisbane City, QLD, 4000</p>
					<p class="contact-phone"><a href="tel:0736214076" class="phone-number">(07) 3621 4076</a></p>
					<p class="contact-email"><a href="mailto:info@annuity.com.au">info@annuity.com.au</a></p>
					
					<ul class="fa-icon-list clearfix">
						<li><a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/" title="LinkedIn" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
					</ul>
					
				</div>
				
			</div>
			
			<div class="col-sm-4 columns">
				
				<div class="offset-md-right-40px">
					<h4 class="title">Our services</h4>
					
					<!-- Footer Menu -->
					<ul class="footer-menu">
						<li><a href="single-service-1.html">Financial Advice</a></li>
						<li><a href="single-service-4.html">Retirement Planning & Superannuation</a></li>
						<li><a href="single-service-6.html">Investment Planning and Strategy</a></li>
						<li><a href="single-service-7.html">Business Advice</a></li>
						<li><a href="single-service-5.html">Tax Planning</a></li>
					</ul>
					
				</div>
				
			</div>
			
			<div class="col-sm-4 columns">
				
				<h4 class="title">Stay informed</h4>
				
				<!-- Subscription Form -->
				<form action="https://e-merald.com/themes/annuity/php/mail-subscription.php" method="post" class="subscription-form">
					<fieldset class="subscription-fields-wrapper">
						<div class="field-subscriber-name">
							<input type="text" name="subscriber-name" value="" maxlength="200" placeholder="Name *" required>
						</div>
						<div class="field-subscriber-email">
							<input type="email" name="subscriber-email" value="" maxlength="100" placeholder="Email *" required>
						</div>
						<div class="field-blank hidden-xs-up">
							<input type="text" name="sender-name" value="" placeholder="Leave this field blank">
						</div>
						<div class="field-submit">
							<input type="submit" name="subscribe" value="" class="button">
							<span class="loader hidden-xs-up"></span>
						</div>
					</fieldset>
				</form>
				
				<div class="subscription-form-message info">
					<p>Sign up to receive the latest news and resources</p>
				</div>
				<!-- end Subscription Form -->
				
			</div>
		
		</div>
		
	</div> <!-- end Container -->

</footer>

<footer id="footer-bottom">
	
	<div class="container"> <!-- Container -->
		
		<div class="row">
		
			<div class="columns bottom-left-col">
				<p>© 2017 Annuity Template</p>
			</div>
			
			<div class="columns bottom-right-col">
				<ul class="links">
					<li><a href="#">Privacy Policy</a><span>|</span></li>
					<li><a href="#">Terms & Conditions</a><span>|</span></li>
					<li><a href="#">Financial Services Guide</a></li>
				</ul>
			</div>
			
			<span class="scroll-top"><i class="ion ion-android-arrow-up"></i></span>
		
		</div>
		
	</div> <!-- end Container -->
	
</footer>

<!-- END FOOTER -->


<!-- Java Script -->
<script src="js/html5media.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.cycle2.min.js"></script>
<script src="js/jquery.cycle2.swipe.min.js"></script>
<script src="js/jquery.fitvids.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.tweet.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/switcher.js"></script> <!-- Style Switcher -->

</body>

<!-- Mirrored from e-merald.com/themes/annuity/elements-icon-boxes.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Mar 2023 20:46:41 GMT -->
</html>
